
  .hero-image{
    min-width: 100%;
    min-height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .background-image{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      max-height: 100vh;
      min-height: 100vh;
      opacity: 0.5;
  }

  .workaround{
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 64px);
    z-index: -1;
    background-image: url('../assets/restaurant-1.png');
    background-size: 100% 100%;
    visibility: hidden;
  }
  .hero-image-text-container{
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    z-index: 2;
    min-height: calc(100vh - 64px);
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-image-text-small{
    font-size: 32px;
    margin: 0px;
    font-weight: 700;
    color: #cccccc;

}
  .hero-image-text-big{
    font-size: 40px;
    margin: 0px;
    font-weight: 700;
    color: white;
    margin-top:32px;

}

  .intro-image-container{
    position:relative;
    text-align:center;
    color:white;
  }
  .centered-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 22px;
  font-weight: 600;
  color:#cccccc;
  }

  .margin-wrapper{
    color:#cccccc;
    text-align:left;
    padding: 80px 0px;
    max-width: 800px;
    margin-left: auto;
    margin-right:auto;
  }
  .intro-wrapper {
      display:flex;
      flex-direction:column;
  }

  .title-name {
      font-size:48px;
      margin-bottom: 0px;
      margin-top:0px;
      color:white;
  }
  
  .title-description {
    font-size: 20px;
    margin-top:0px;    
  }

  .project-title {
      display:block;
      max-width:75%;
  }

  .project-role {
      margin-top: 60px;
      font-size: 20px;
      line-height: 32px;
      display:flex;
      flex-direction: row;
      margin-bottom: 80px;
    }
    .project-role-title {
    margin-bottom: 0px;
    margin-top:0px; 
    margin-right: auto;
    }

.project-problem-statement {
    font-size: 32px;
    margin: 0px;
    font-weight: 700;
    color: white;
    line-height: 160%;
}
.project-hero-text{
    font-size: 32px;
    margin: 0px;
    font-weight: 700;
    color: white;
    margin-top:40px;
    max-width:800px;
    line-height: 160%;

}
.money-shot-container{
    max-width: 96%;
    margin: auto;
    height:auto;
    margin-top: 64px;
  }
.project-content{
    margin-bottom: 80px;
}
.strong-white{
    color:white;
}
.strong-purple{
  color:#9381FF;
}

.money-shot{
    /* background-image: url('../assets/Moneyshot2.png');
    background-size: 100% 100%; */
    width:100%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
      
  }

  .project-content-text{
    font-size: 20px;
    line-height: 32px;
    margin-top:40px;
    line-height: 160%;

}

.project-content-big-text{
  font-size: 24px;
  line-height: 160%;
  margin-top:60px;
  max-width:700px;

}

.video-section {
  display: flex;
  width: 100%;
  background-color:white;
  padding-top:40px;
  padding-bottom: 40px;
 
}
.video {
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05), 
  0 8px 8px 8px rgba(0,0,0,0.25), 
  0 16px 16px rgba(0,0,0,0.25);
  max-height:400px;
}

.feature-section{
  display:flex;
  margin-top:100px;
}
.link {
  text-decoration: underline;
  color: #b4a7d6;
}

.project-content-title {
    font-size:24px;
    font-weight:bold;
    margin-bottom:0px;
    color:#cccccc;
    line-height: 160%;

}

.feature-video{
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05), 
  0 8px 8px 8px rgba(0,0,0,0.25), 
  0 16px 16px rgba(0,0,0,0.25);
  max-height:400px;
  margin-right: 60px;
}

.project-feature-content{
  margin-top:auto;
  margin-bottom: auto;
  max-width:500px;
}

.project-feature-big-text{
  font-size: 24px;
  line-height: 160%;
  max-width:700px;
}

.content-wrapper{
  max-width: 700px;
}
.regular-text {
  line-height: 188%;
  font-size: 20px;
}


.semi-hero-image{
  background-image: url('../assets/secondPic.png');
  background-size: 100% 100%;
  min-width: 100%;
  min-height: 100%;
  height: 650px;
}

.responsive-image{
  max-width:100%;
  height:auto;
}
.set-image-container{
  margin-top:40px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
}
.responsive-set-image{
  max-width:100%;
  height:auto;
  margin-right:auto;
}

@media screen and (min-width: 1280px) {
  .content-wrapper{
    max-width: 800px;
  }
  .project-problem-statement {
    font-size: 32px;
  }
  
  .margin-wrapper{
    color:#cccccc;
    text-align:left;
    padding: 80px 0px;
    max-width: 980px;
    margin-left: auto;
    margin-right:auto;
  }
  .regular-text {
    line-height: 160%;
    font-size: 20px;
  }
  .video {
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05), 
    0 8px 8px 8px rgba(0,0,0,0.25), 
    0 16px 16px rgba(0,0,0,0.25);
    max-height:500px;
  }
  .feature-video{
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05), 
    0 8px 8px 8px rgba(0,0,0,0.25), 
    0 16px 16px rgba(0,0,0,0.25);
    max-height:500px;
  }
  

}

@media screen and (min-width: 1440px) {
  .content-wrapper{
    max-width: 900px;
  }
.project-title{
  min-width: 900px;
}
.project-problem-statement {
  width: 900px;
  font-size: 40px;
}


  .margin-wrapper{
    color:#cccccc;
    text-align:left;
    padding: 80px 0px;
    max-width: 1080px;
    margin-left: auto;
    margin-right:auto;
  }
  .project-content-text{
    font-size: 22px;
    line-height: 32px;
    margin-top:32px;
    line-height: 160%;
    max-width:950px;


}
.video {
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05), 
  0 8px 8px 8px rgba(0,0,0,0.25), 
  0 16px 16px rgba(0,0,0,0.25);
  max-height:600px;
}
.feature-video{
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05), 
  0 8px 8px 8px rgba(0,0,0,0.25), 
  0 16px 16px rgba(0,0,0,0.25);
  max-height:600px;
}


.title-description {
  font-size: 22px;
  margin-top:0px;    
}
}


