 .header {
    overflow: hidden;
    display: flex;
	align-items: center;
	justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    height: 100px;
    z-index: 3; 
} 


/* .header{
    background-color:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    padding: 0;
    margin: 0;
} */

.title {
    display: flex;
    font-size: 24px;
    align-items: center;
    padding: 0px 32px;
    flex: 9 ;
    font-weight: 700;
}

.hovering:hover {
    animation: roll 3s infinite;
    transform: rotate(30deg);
}

@keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.navList {
    display:flex;
    align-items: center;
    flex: 3;
    padding: 0px 32px;
    justify-content: flex-end;

}
.horizontal {
    padding-left: 32px;
    font-size: 16px;
    text-align: center;
    font-weight:600;
}
.linl {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
a.horizontal {
    text-decoration: none;
    text-decoration-color: white;
    color: white;

}

